*{ 
    box-sizing: border-box;
    font-family: Gotham Rounded,sans-serif;
    font-weight: normal;
}

body{
    padding:0;
    margin: 0;
   background-color: #fff;
}
.output input{
    color: rgba(255, 255, 255, 0.75);
    font-size: 2rem;
    background-color: #F98619;
    border: none;
    height: 8rem;
    width: 25rem;
    
}

.calculator-grid{
    display: grid;
    justify-content:center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows:minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button{
    font-size: 2rem;
    border: 1px solid #F98619;
    outline: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.75);
}

.equal{
    
}

.calculator-grid > button:hover{
    background-color: #F98619;
}



.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-end;
    word-wrap: break-word;
  
}

.output >.previous-operand{
  color: #fff;
  font-size: 1.5rem;
}

.output >.current-operand{

    color: rgba(255, 255, 255);
    font-size: 2.5rem;
  }